# flake8==6.0.0
# Jinja2==3.1.2
# mike==1.1.2
mkdocs-awesome-pages-plugin==2.8.0  # enables naive configuration of page titles and their order
mkdocs-click==0.8.0
mkdocs-macros-plugin==0.7.0
mkdocs-material==8.5.11  # Material support for MkDocs
mkdocs==1.4.2  # static site generator for documentation in Markdown
mkdocs-minify-plugin==0.4.0  # strips whitespaces in HTML markdown documentation pages
mkdocstrings-python-legacy==0.2.3
mkdocstrings==0.19.1
mkdocs-git-revision-date-plugin
mkdocs-git-authors-plugin
mkdocs-git-revision-date-localized-plugin
# mkdocs-table-reader-plugin  # enables automatic CSV imports as a table into a markdown page
mkdocs-img2fig-plugin  # converts markdown encoded images to HTML figures
mkdocs-mermaid2-plugin
mkdocs-glightbox